@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap'); 

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.cabecalho{
    background-color: black;
    padding: 10px 5px;
    border-radius: 0px 0px 10px 10px;
    margin-top: 0px;
    margin-bottom: 1%;
    width: 100%;
    
}

.cabecalho-titulo{
    font-weight: bold;
    font-size: 1.7em;
    color: #FFFF;
    margin-left: 10px;
}

.cabecalho-titulo a{
    text-decoration: none;
    color: inherit;
}

.cabecalho-nav-link{
    padding: 10px;
    font-size: 1.5em;
    font-weight: bold;
    color: #FFFF;
    /* background-color: #FFFF; */
    text-decoration: none;
    transition: .5s;
    display: block;
    /* border: 1px solid #9799A6; */
    border-radius: 5px;
    margin-left: 5px;
}

.cabecalho-nav-link:hover, button:hover{
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.cabecalho-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalho-nav {
    display: flex;
    justify-content: space-between;
}

.ass {
    background-color: #B9B4B4;
    width: 100%;
    text-align: center;
    padding-top: 5px;
    bottom: 0px;
    position: fixed;
    font-weight: 550;
    display: block;
    font-family: sans-serif;
    font-size: 1em;
}

body{
    font-family: 'Raleway', sans-serif;
    background-color: #B9B4B4;
}

main{
    margin-top: 0.5%;
    border-radius: 10px;
}

.centraliza{
    margin: auto;
    border-radius: 10px;
    margin-bottom: 2.5%;
}

.centraliza{
    width: 50%;
    background-color: #B9B4B4;
    padding: 3em;
    box-shadow: 0 0 2.2em rgba(0,0,0, .2);
}

#titulo {
    font-family: sans-serif;
    text-align: center;
    font-size: 45px;
} 

#subtitulo {
    font-family: sans-serif;
    text-align: center;
    font-size: 25px;
} 


img{
    width: 35%;
    float: right;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 40px;
}

article p{
    margin-top: 2em;
    font-size: 1.5rem;
    line-height: 160%;
    margin-bottom: 3%;
    font-family: 'Raleway', sans-serif;
    
}

.link{
    text-decoration: none;
    font-size: 1.5rem;
    color: #0066FF;
    
}

@media screen and (max-width: 768px){
    .cabecalho-container{
        flex-direction: column;
        align-items: center;
    }

    .cabecalho-nav{
        flex-direction: column;
    }

    .centraliza{
        width: auto;
    }

    img {
        width: 100%;
        margin-bottom: 10%;
        align-items: center;
        text-align: center;
        margin-top: -30px;
    }
}
